.entrada_principal{
    border-bottom: solid var(--verdeescuro);
    background-color: var(--cinzaclaro);
    border-end-end-radius: 300px;
}

.banner_inicial{
    padding-top: 8em;
    background-image: url(/img/frutas.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.container_entrada{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_descricao_entrada {
    display: flex;
    flex-direction: column;
}

.titulo_entrada {
    color: var(--quasepreto);
    font-size: 3em;
    padding-bottom: .5em;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.descricao_entrada{
    color: var(--quasepreto);
    padding-bottom: 3em;
}

.img_celular{
    display: inline;
    max-width: 35%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.appstore_img{
    max-width: 15%;
}

.playstore_img {
    max-width: 15%;
}
