.cadastre-se_margin {
    padding-top: 7em;
}
.container_form {
    background-image: linear-gradient(to bottom, var(--laranja-medio), var(--verde-claro));
    background-image: linear-gradient(var(--laranja-medio), var(--verde-claro));
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: solid;
    border-radius: 30px;
    padding: 3em 0;
    margin: 0 40em 5em;
}

.cadastre-se {
    font-size: 3em;
    font-weight: bold;
}

.input_cadastro {
    border-radius: 5px;
    background-color: var(--laranja-medio);
    padding: .7em;
}

.botao_conectar_facebook {
    background-color: var(--verde-escuro);
    color: var(--branco);
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    padding: .7em;
    width: 80%;
    margin-left: 3em;
    transition: background 1s;
}

.img_botao_facebook {
    max-width: 8%;
    padding-right: 1em;
}

.botao_conectar_google {
    background-color: var(--verde-escuro);
    color: var(--branco);
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    padding: .7em;
    width: 80%;
    margin-left: 3em;
    transition: background 1s;
}

.img_botao_google {
    max-width: 11%;
    padding-right: 2em;
}

:hover.botao_conectar_google, :focus.botao_conectar_google, :hover.botao_conectar_facebook, :focus.botao_conectar_facebook {
    background-color: var(--verde-forte);
    cursor: pointer;
}

.login_cadastre-se {
    font-size: 1.1em;
    font-family: 'Rubik', sans-serif;
}

:hover.login_cadastre-se {
    color: var(--marrom-escuro);
}


#registration-form {
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }
  
  label {
    font-weight: bold;
  }