.footer {
    border-top: solid 2px;
    padding-top: 2em;
    background: -webkit-linear-gradient(to bottom,var(--verde-claro),var(--verde-claro) 3px,transparent);
    background: linear-gradient(to bottom,var(--verde-claro),var(--verde-claro) 3px,transparent);
}

.footer_container {
    display: flex;
    align-items:flex-start;
    justify-content:space-around;
}

.links_termos_footer {

    display: flex;
    align-items: flex-start;
}

.link_termos_footer {
    padding: 0 1em 1em 1em;
}

.logo_instagram {
    max-width: 2%;
}

.logo_facebook {
    max-width: 2%;
}

.logo_twitter {
    max-width: 2%;
}