.footer {
    font-size: 16px;
    padding-top: .5em;
    background-color: var(--verde-medio);
    border-top: solid;
    border-color: var(--verde-forte);
}

.footer_container {
    display: flex;
    align-items:flex-start;
    justify-content:space-around;
}

.links_termos_footer {
    display: flex;
    align-items: flex-start;
}

.link_termos_footer {
    padding: 0 1em 1em 1em;
}

.logo_instagram {
    max-width: 1%;
}

.logo_facebook {
    max-width: 1%;
}

.logo_twitter {
    max-width: 1%;
}