.footer {
    bottom: 0px;
    font-size: 16px;
    padding-top:1em;
    background-color: var(--verde-claro);
    border-top: solid 2px;
}

.footer_container {
    display: flex;
    align-items:flex-start;
    justify-content:space-around;
}

.links_termos_footer {

    display: flex;
    align-items: flex-start;
}

.link_termos_footer {
    padding: 0 1em 1em 1em;
}

.logo_instagram {
    max-width: 2%;
}

.logo_facebook {
    max-width: 2%;
}

.logo_twitter {
    max-width: 2%;
}