.cabecalho_principal {
    width: 100%;
    position: fixed-top;
    z-index: 2;
}

.cabecalho_principal_logo {
    margin-left: 2rem;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    width: 6rem;
    justify-content: space-around;
}

.cabecalho_principal_nav {
    display: inline-block;
    vertical-align: middle;
}

.cabecalho_principal_nav_link {
    text-decoration: none;
    color: var(--quasepreto);
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    transition: .6s;
}

:hover.cabecalho_principal_nav_link {
    color: var(--verdeescuro);
}

.cabecalho_principal_acessar_conta_link {
    background-color:var(--cinza);
    color: var(--branco);
    text-decoration: none;
    border: none;
    padding: 0.7rem;
    border-radius: 30%;
    margin: 1.5rem;
    transition: .6s;
}

:hover.cabecalho_principal_acessar_conta_link {
    background-color: var(--quasepreto);
}

.cabecalho_principal_criar_conta_link {
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--quasepreto);
    transition: .6s;
}

:hover.cabecalho_principal_criar_conta_link {
    color: var(--verdeescuro);
}

.container_cabecalho {
    background: -webkit-linear-gradient(to bottom,var(--cinza),var(--cinzaclaro) 1em,transparent);
    background: linear-gradient(to bottom,var(--cinza),var(--cinzaclaro) 4.1em,transparent);
    display: flex;
    align-items: center;
    justify-content:space-around;
}