.top {
    padding: 10em 0 5em 0;
    display: flex;
    justify-content: center;
}

.login {
    padding: 10em;
    border: solid;
    border-radius: 5px;
    width: 40%;
    background-color: var(--brancotransparente);
}

.titulo_login{
    font-size: 2em;
    font-weight: 900;
    padding-bottom: 1em;
}

.descricao_login{
    font-weight: 900;
    padding-bottom: 1em;
}

.social_connect{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
}

.botao-facebook{
    padding: .6em 2em .6em 2em;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: var(--branco);
    background-color: rgb(64, 101, 2180) ;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 1em;
}

.botao-google{
    padding: .6em 2.5em .6em 2.5em;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: var(--branco);
    background-color: var(--quasepreto);
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}

.google_img{
    width: 40px;
    margin-right: .3em;
}

.facebook_img{
    width: 30px;
    margin-right: .3em;
}

:hover.botao-facebook, :hover.botao-google{
    cursor: pointer;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 50%);
}

.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background: url(images/torre.jpg) no-repeat;
	background-size: cover; 
}

.botaocel{
    color: var(--branco);
    background-color: var(--cinza);
    font-family: "Open Sans", sans-serif;
    padding: 1.1em;
    font-size: 1.2rem;
    margin: 0em .5rem 0 .5rem;
    border: solid 0px var(--preto);
    border-radius: 10px;
    transition: background 1s;
}

.botaoemail{
    color: var(--branco);
    background-color: var(--cinza);
    font-family: "Open Sans", sans-serif;
    padding: 1.1em;
    font-size: 1.2rem;
    margin: 0em .5rem 0 .5rem;
    border: solid 0px var(--preto);
    border-radius: 10px;
    transition: background 1s;
}

:hover.botaocel, :hover.botaoemail{
    background-color: var(--verdeescuro);
    cursor: pointer;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 30%);
}