
.mapa {
    width: 100%;
}

.buscar_localizacao_container {
    display: flex;
    justify-content: center;
    padding: 1em;
    align-items: baseline;
}

.buscar_localizacao_input {
    
    padding: 1.1rem;
    font-size: 1rem;
    font-weight: bold;
    width: 40%;
    margin: 2rem 1rem 2rem 2rem;
    border-radius: 5px;
    background-color: var(--verde-claro);
}

.swiper {
    margin: 0 0 3em 0;
    z-index: 1;
    border:solid;
    border-right: none;
    border-color: var(--marrom-escuro);
}

.swiper-slide {
    padding: 2em 0 1em 0;
    border-radius: 10px;
}

.titulo_swiper {
    padding: 3rem 3rem 3rem;
    color: var(--preto);
    font-size: 1.4rem;
    text-align:center;
}


.swiper-slide img {
    margin: 1em 0 0 0;
    width: 70%;
    border-radius: 40px;

}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    color: var(--preto);
}