@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
@import url(media-query.css);
@import url(header.css);
@import url(nossosrestaurantes.css);
@import url(vegpremium.css);
@import url(banner-inicial.css);
@import url(trabalhe-conosco.css);
@import url(footer.css);
@import url(cadastro.css);
@import url(login.css);
:root { 
    --quasepreto: #212626;
    --cinza: #485953;
    --cinzaclaro:#bcc7c3;
    --verdeescuro:#618c37;
    --verdeclaro:#8abf3b;
    --amarelao:#F6BD04;
    --bege:#cfbcb0;
    --preto:#000000;
    --branco:#ffffff;
    --fonteprincipal:font-family: 'Nunito', sans-serif;
}


.strong_vegplace {
    font-size: larger;
    color: var(--verde-forte);
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: var(--preto);
}

.strong_vegpremium {
    color: var(--cinza);
}

body{
    background-color: var(--branco);
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.botao {
    color: var(--branco);
    background-color: var(--cinza);
    font-family: "Open Sans", sans-serif;
    padding: 1.1em;
    font-size: 1.2rem;
    margin: 1em 1rem 0 1rem;
    border: solid 0px var(--preto);
    border-radius: 40px;
    transition: background 1s;
    
}

.botao_assinar{ 
    margin-top: 0em;
    transition: background 1s;
}

:hover.botao, :focus.botao, :hover.botao_assinar, :hover.botao_buscar {

    background-color: var(--verdeescuro);
    cursor: pointer;
}


.titulo_pequeno {
    padding: 2em;
    color: var(--quasepreto);
    font-size: 1em;
    text-align:center;
    font-weight: bold;
}

