.comparacao_planos {
    display: flex;
    justify-content: center;
}


.plano_veg {
    padding: 1.5em;
    text-align: left;
    border: solid;
    border-radius: 15px;
    border-color: var(--preto);
    background-color: var(--verde-claro);
} 

.plano_veg_comum {
    margin-right: 3em;
}

.comparacao_lista_item {
    font-weight: bold;
}

.contaX{
    padding: 1em;
    font-size: 2em;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

li {
    padding: 1em;
    text-decoration: underline;
}

.planos_vegpremium {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.plano_vegpremium {
    background-color:var(--laranja-medio);
    margin: 1em;
    padding: 1em;
    border: solid 2px;
    border-radius: 20px;
    border-color: var(--preto);
}

.assine_agora {
    margin-top: 2em;
}

.preco_plano {
    font-weight: bold;
    font-size: 1.3em;
}